

body{
    color:rgb(63, 32, 33);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 0.5cm;
    background-color: rgb(249, 245, 238);
}
#loginpic{
    width: 100%;
    height: 100%;
    background-image: url(Resources/IMG/);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 10;
    z-index: -1;
    filter: blur(8px);
    float: left;
}
/* .animelabel{
    cursor: default;
    position: absolute;
      top: 0;
      left: 0;
}

@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}*/
#main-bordure{
      display: flex;
}
#Login{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: auto;
}
#Login-form{
    background-color: white;
    width:10cm;
    border-radius: 50px;
}
.btnswitch{
    font-size: 0.5cm;
    border-style:none none solid none;
    background-color: white;
    color:rgb(63, 32, 33);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1cm;
    width:4.9cm;
}
#Logoimg{
    height:3cm;
}
.Milieu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: center;
    margin:auto;
}
#Inscription{
    display: none;
    padding:1em;
}
#Connexion{
    padding:1em;
}
#Inscription-Inputs input{
    position:relative;
    padding:16px;
    width: 7cm;
    margin-top:1em;
    border-radius: 4px;
    font-size: large;
    color:rgb(63, 32, 33);
    font-family: Arial, Helvetica, sans-serif;
}
#Date-Input input{
    padding:16px;
    width: 2cm;
    margin-top:1em;
    outline: none;
    border-radius: 4px;
    font-size: large;
    color:rgb(63, 32, 33);
    font-family: Arial, Helvetica, sans-serif;
}
#Date-Input{
    display: flex;
    align-items: center;
    justify-content: center;
    float: center;
    margin:auto;
}
inputs{
    border-style:solid;
    border-width:1px;
    border-color:#c7c1bc;
    box-shadow: none;
}