* {
  margin: 0;
  box-sizing: border-box;
}  
body{
  font-family:Arial, Helvetica, sans-serif;
  color:#432d2b;
  font-weight: bold;
}
#main-bordure{
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
}
header{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(202, 19, 43);
  padding:10px;
  color:white;
}
header div{
  margin-right: 1cqmax;
}
.main-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
}

#BtnPlus{
  display: flex;
  flex-direction: column;
  border: none;
  background: none;
  color:white;
  font-weight: bold;
}
#header-gauche{
  display: flex;
  justify-content: flex-end;
}
#main{
  
  display: flex;
  
  align-items: center;
  justify-content:center;
  margin: 2cm;
}
#IMG-Pizza{
  width:12cm;
}